body {
    background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/476/original/lukasz-lada-LtWFFVi1RXQ-unsplash_%281%29.jpg?1721485275');
    width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 35px;
}

a {
    color: black;
}

h2 {
    font-size: 35px;
    margin: 10px 0;
}

select {
    background: rgba(244, 223, 180, 0.6);
    font-size: 17px;
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    font-family: monospace;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
 background: rgba(247, 182, 134, 0.6);
    padding: 30px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.city {
    display: flex;
    justify-content:space-between;
    padding: 25px 0;
    border-bottom: 1px rgba(114, 52, 173, 0.4) solid ;
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.8;
}

.time {
    font-size: 50px;
    font-weight: 600;
}

.time small {
    position: relative;
    top: 3px;
    left: 3px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 50px;
}

.emoji {
font-size: smaller;
}
